$colorPrimary: #014e85;
$colorSecondary:#EC4E20;
$colorTertiary:#014e85;
$colorBlack:#000;
$colorWhite: #ffffff;
$copyrightBG:#020202;


$gradientOne:linear-gradient(90deg, rgba(33,155,255,1) 0%, rgba(1,78,133,1) 100%);
$transition: 0.4s ease;

$boxShadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

$ExoBold:"Exo Bold", sans-serif;
$ExoReg:"Exo Regular", sans-serif;
$ExoThin:"Exo Thin", sans-serif;
